div[id*="ajaxsearchlite"] {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: #d1eaff;
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: -o-radial-gradient(center, ellipse cover, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: -ms-radial-gradient(center, ellipse cover, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: radial-gradient(ellipse at center, rgb(225, 99, 92), rgb(225, 99, 92));;
    overflow: hidden;
    border: 0px none rgb(141, 213, 239);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px #000000;
}

#ajaxsearchlite1 .probox,
div[id*="ajaxsearchlite"] .probox {
    margin: 0px;
    height: 34px;
    background-color: rgb(225, 99, 92);
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: -o-radial-gradient(center, ellipse cover, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: -ms-radial-gradient(center, ellipse cover, rgb(225, 99, 92), rgb(225, 99, 92));
    background-image: radial-gradient(ellipse at center, rgb(225, 99, 92), rgb(225, 99, 92));;
    border: 0px solid rgb(104, 174, 199);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgb(181, 181, 181) inset;
}

#ajaxsearchlite1 .probox .proinput,
div[id*="ajaxsearchlite"] .probox .proinput {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(255, 255, 255) !important;
    font-size: 12px;
    line-height: normal !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

#ajaxsearchlite1 .probox .proinput input,
div[id*="ajaxsearchlite"] .probox .proinput input {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(255, 255, 255) !important;
    font-size: 12px;
    line-height: normal !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    border: 0;
    box-shadow: none;
    height: 34px;
}

/* EACH PLACEHOLDER MUST HAVE A DIFFERENT RULE TO WORK */
div[id*="ajaxsearchlite"] .probox .proinput input::-webkit-input-placeholder {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchlite"] .probox .proinput input::-moz-placeholder {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchlite"] .probox .proinput input:-ms-input-placeholder {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchlite"] .probox .proinput input:-moz-placeholder {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(255, 255, 255) !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchlite"] .probox .proinput input.autocomplete {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: normal !important;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    /* Must match box height */
    margin-top: -34px !important;
}

div[id*="ajaxsearchlite"] .probox .proloading,
div[id*="ajaxsearchlite"] .probox .proclose,
div[id*="ajaxsearchlite"] .probox .promagnifier,
div[id*="ajaxsearchlite"] .probox .prosettings {
    width: 34px;
    height: 34px;
}

div[id*="ajaxsearchlite"] .probox .promagnifier .innericon svg {
    fill: rgb(255, 255, 255);
}

div[id*="ajaxsearchlite"] .probox .prosettings .innericon svg {
    fill: rgb(255, 255, 255);
}

div[id*="ajaxsearchlite"] .probox .promagnifier {

    width: 34px;
    height: 34px;
    background-color: rgb(190, 76, 70);
    background-image: -o-linear-gradient(180deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -ms-linear-gradient(180deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -webkit-linear-gradient(180deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: linear-gradient(180deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-position: center center;
    background-repeat: no-repeat;

    border: 0px solid rgb(0, 0, 0);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.61);
    cursor: pointer;
    background-size: 100% 100%;

    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

div[id*="ajaxsearchlite"] .probox div.prosettings {

    width: 34px;
    height: 34px;
    background-color: rgb(190, 76, 70);
    background-image: -o-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -ms-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -webkit-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    border: 0px solid rgb(104, 174, 199);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.63);
    cursor: pointer;
    background-size: 100% 100%;
    order: 7;
    -webkit-order: 7;
}

div[id*="ajaxsearchliteres"] {
    position: absolute;
    z-index: 1100;
}

div[id*="ajaxsearchliteres"].vertical {
    padding: 4px;
    background: rgb(225, 99, 92);
    border-radius: 3px;
    border: 0px none rgb(0, 0, 0);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px #000000;
    visibility: hidden;
    display: none;
}

div[id*="ajaxsearchliteres"].horizontal {

    background-image: linear-gradient(60deg, rgba(19, 19, 19, 0.2), rgba(19, 19, 19, 0.2));
    background-image: -webkit-linear-gradient(60deg, rgba(19, 19, 19, 0.2), rgba(19, 19, 19, 0.2));
    background-image: -moz-linear-gradient(60deg, rgba(19, 19, 19, 0.2), rgba(19, 19, 19, 0.2));
    background-image: -o-linear-gradient(60deg, rgba(19, 19, 19, 0.2), rgba(19, 19, 19, 0.2));
    background-image: -ms-linear-gradient(60deg, rgba(19, 19, 19, 0.2), rgba(19, 19, 19, 0.2));;
    border: 0px solid rgb(219, 233, 238);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 2px -3px rgb(0, 0, 0) inset;
    -webkit-box-shadow: 0px 0px 4px -3px rgb(0, 0, 0) inset;
    -ms-box-shadow: 0px 0px 4px -3px rgb(0, 0, 0) inset;
    margin-top: 12px;
}

div[id*="ajaxsearchliteres"] .results .nores .keyword {
    padding: 0 6px;
    cursor: pointer;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(74, 74, 74);
    font-size: 13px;
    line-height: 13px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    font-weight: bold;
}

div[id*="ajaxsearchliteres"] .results .item {
    height: auto;
    background: rgb(255, 255, 255);
}

div[id*="ajaxsearchliteres"].vertical .results .item:after {
    background: rgb(204, 204, 204);
}

div[id*="ajaxsearchliteres"] .results .item.hovered {
    background-color: rgb(245, 245, 245);
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: -o-radial-gradient(center, ellipse cover, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: -ms-radial-gradient(center, ellipse cover, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: radial-gradient(ellipse at center, rgb(245, 245, 245), rgb(245, 245, 245));;
}

div[id*="ajaxsearchliteres"].horizontal .results .item {
    height: 174px;
    width: 150px;
    margin: 10px 8px;
    padding: 7px;
    float: left;
    background-color: rgb(255, 255, 255);
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -o-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: -ms-radial-gradient(center, ellipse cover, rgb(255, 255, 255), rgb(255, 255, 255));
    background-image: radial-gradient(ellipse at center, rgb(255, 255, 255), rgb(255, 255, 255));;
    border: 0px none rgb(250, 250, 250);
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 4px -3px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 6px -3px rgb(0, 0, 0);
    -ms-box-shadow: 0px 0px 6px -3px rgb(0, 0, 0);
}

div[id*="ajaxsearchliteres"].horizontal .results .item:hover {
    background-color: rgb(245, 245, 245);
    background-image: -moz-radial-gradient(center, ellipse cover, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: -webkit-radial-gradient(center, ellipse cover, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: -o-radial-gradient(center, ellipse cover, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: -ms-radial-gradient(center, ellipse cover, rgb(245, 245, 245), rgb(245, 245, 245));
    background-image: radial-gradient(ellipse at center, rgb(245, 245, 245), rgb(245, 245, 245));;
}

div[id*="ajaxsearchliteres"] .results .item .asl_image {
    width: 70px;
    height: 70px;
}

div[id*="ajaxsearchliteres"] .results .item .asl_content {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(74, 74, 74);
    font-size: 12px;
    line-height: 18px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"].horizontal .results .item .asl_content h3 a {
    text-align: center;
}

div[id*="ajaxsearchliteres"] .results .item .asl_content h3,
div[id*="ajaxsearchliteres"] .results .item .asl_content h3 a {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(20, 84, 169);
    font-size: 13px;
    line-height: 17px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .asl_content h3 a:hover {
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(46, 107, 188);
    font-size: 13px;
    line-height: 17px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item div.etc {
    padding: 0;
    line-height: 10px;
    font-weight: bold;
    font-family: Open Sans;
    color: rgb(161, 161, 161);
    font-size: 12px;
    line-height: 13px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .etc .asl_author {
    padding: 0;
    font-weight: bold;
    font-family: Open Sans;
    color: rgb(161, 161, 161);
    font-size: 10px;
    line-height: 12px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchliteres"] .results .item .etc .asl_date {
    margin: 0 0 0 10px;
    padding: 0;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(173, 173, 173);
    font-size: 10px;
    line-height: 12px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}


div[id*="ajaxsearchliteres"] .mCSBap_scrollTools .mCSBap_dragger:active .mCSBap_dragger_bar,
div[id*="ajaxsearchliteres"] .mCSBap_scrollTools .mCSBap_dragger.mCSBap_dragger_onDrag .mCSBap_dragger_bar {
    background: rgba(rgb(255, 255, 255), 1);
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)"; /* old ie */
}

div[id*="ajaxsearchliteres"].horizontal .mCSBap_scrollTools .mCSBap_dragger .mCSBap_dragger_bar {
    background: #fff; /* rgba fallback */
    background: rgb(250, 250, 250);
    opacity: 0.9;
    filter: "alpha(opacity=90)";
    -ms-filter: "alpha(opacity=90)"; /* old ie */
}

div[id*="ajaxsearchliteres"].horizontal .mCSBap_scrollTools .mCSBap_dragger:hover .mCSBap_dragger_bar {
    background: rgb(250, 250, 250);
    opacilty: 0.95;
    filter: "alpha(opacity=95)";
    -ms-filter: "alpha(opacity=95)"; /* old ie */
}

div[id*="ajaxsearchliteres"].horizontal .mCSBap_scrollTools .mCSBap_dragger:active .mCSBap_dragger_bar,
div[id*="ajaxsearchliteres"].horizontal .mCSBap_scrollTools .mCSBap_dragger.mCSBap_dragger_onDrag .mCSBap_dragger_bar {
    background: rgb(250, 250, 250);
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)"; /* old ie */
}

div[id*="ajaxsearchliteres"] span.highlighted {
    font-weight: bold;
    color: #d9312b;
    background-color: #eee;
    color: rgba(217, 49, 43, 1);
    background-color: rgba(238, 238, 238, 1);
}

div[id*="ajaxsearchliteres"] .group {
    background: #DDDDDD;
    background: rgb(246, 246, 246);
    border-radius: 3px 3px 0 0;
    border-top: 1px solid rgb(248, 248, 248);
    border-left: 1px solid rgb(248, 248, 248);
    border-right: 1px solid rgb(248, 248, 248);
    margin: 10px 0 -3px;
    padding: 7px 0 7px 10px;
    position: relative;
    z-index: 1000;
    font-weight: bold;
    font-family: Open Sans;
    color: rgb(5, 94, 148);
    font-size: 11px;
    line-height: 13px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}


/* Search settings */

div[id*="ajaxsearchlitesettings"].searchsettings {
    background-color: rgb(190, 76, 70);
    background-image: -webkit-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -moz-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -o-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -ms-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -webkit-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -moz-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -o-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));
    background-image: -ms-linear-gradient(185deg, rgb(190, 76, 70), rgb(190, 76, 70));;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);;
}

div[id*="ajaxsearchlitesettings"].searchsettings .label {
    font-weight: bold;
    font-family: Open Sans;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}

div[id*="ajaxsearchlitesettings"].searchsettings .option label {
    background-color: rgb(34, 34, 34);
    background-image: linear-gradient(180deg, rgb(34, 34, 34), rgb(54, 55, 58));
    background-image: -webkit-linear-gradient(180deg, rgb(34, 34, 34), rgb(54, 55, 58));
    background-image: -moz-linear-gradient(180deg, rgb(34, 34, 34), rgb(54, 55, 58));
    background-image: -o-linear-gradient(180deg, rgb(34, 34, 34), rgb(54, 55, 58));
    background-image: -ms-linear-gradient(180deg, rgb(34, 34, 34), rgb(54, 55, 58));;
}

div[id*="ajaxsearchlitesettings"].searchsettings fieldset .categoryfilter {
    max-height: 200px;
    overflow: auto;
}

div[id*="ajaxsearchlitesettings"].searchsettings fieldset legend {
    padding: 5px 0 0 10px;
    margin: 0;
    font-weight: normal;
    font-family: Open Sans;
    color: rgb(31, 31, 31);
    font-size: 13px;
    line-height: 15px;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}